<header class="page-header">
  <h1> About Jungle </h1>
</header>

<p>
Welcome to Jungle, an online plant shop with a large selection of both exotic and mundane houseplants.
</p>
<p>
Jungle provides only the best for our customers, while ethically sourcing our plants from around the world. Absolutely zero exploitation of any kind is involved between the retrieval of these plants and the delivery of our packages to your doorstep.
</p>
<p>
All orders over $50 CAD are eligible for free shipping, and a friendly garden gnome will be included in your box of new plant friends! There is nothing suspicious about these friendly garden gnomes and it is very safe to bring them inside of your home. Nothing will happen, we promise.
</p>